.containerBody{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illust{
    height: 250px;
    width: 250px;
}

.buttonWrapper{
    width: 50px;
    padding: 5px;
    padding-top: 8px;
    box-sizing: border-box;
    height: 50px;
    background-color: #35333d;
    color: white;
    text-align: center;
    z-index: 100;
    border-radius: 10px;
    position: fixed;
    top: 80%;
    right: 20%;
    cursor: pointer;
}
.circles{
    display: flex;
    justify-content: center;
    padding: 25px;
}
.circle{
    width: 10px;
    height: 10px;
    background: rgba(128, 128, 128, 0.486);
    margin: 5px;
    border-radius: 50%;
}
.circleSelected{
    width: 10px;
    height: 10px;
    background: #35333d;
     margin: 5px;
    border-radius: 50%;
}
.bodyHeading{
    text-align: center;
    font-size: 36px;
    color: #35333d;
    margin: 0;
}

.arrowRight{
    width: 32px;
    height: 32px;
}
.bodyText{
    color: #35333d;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
@media only screen and (max-width: 480px)
{
    html,body{
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

}