.navWrapper{
    background-color: #35333d;
    color: white;
    position: fixed;
    bottom: 0%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 28px;
}
.ancMain, .ancDark{
    position: relative;
    top: -30px;
    background-color: #ff9e9b;
    padding: 15px 18px 15px 18px;
    border-radius: 15px;
    height: 28px;
    box-shadow: 0px 10px 9px 1px #000000ab;
}

.ancDark{
    background-color: #5e6068;
}
.cardHolder, .cardHolderDark{
    background-color: #fce3e2;
    height: 75vh;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    overflow-y: scroll;
    border: 10px solid #fce3e2;
    padding: 5px;
}
.cardHolderDark{
    background-color: #5e6068;
    border: 10px solid #5e6068;
}
.mainContainer, .mainContDark{
    background-color: #ff9e9b;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}
.mainContDark{
    background-color: #35333d;
}
.main, .mainDark{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #ff9e9b;
}
.mainDark{
background-color: #35333d;
}
.mainDates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.date, .dateSelected{
    color: rgba(255, 255, 255, 0.596);
    font-size: 14px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}
.navIcons{
    width: 28px;
    height: 28px;
}
.cardFlex, .cardDark{
    background-color: white;
    border-radius: 17px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 11px 0px #88888885;
}
.cardDark{
    background: #35333d;
}
.delIcon{
    width: 16px;
    height: 16px;
}
.delete, .delDark{
    background: #ff9e9b;
    padding: 7px 10px 7px 10px;
    border-radius: 7px;
    margin-top: 50px;
    box-shadow: 3px 4px 11px 0px #88888885;
}
.delDark{
    background-color: #5e6068;
}
.penIcon{
    width: 15px;
    height: 15px;
}
.actionButtons{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.titleCard, .titleDark{
    margin: 0;
    font-size: 22px;
    color: #35333d;
}
.titleDark{
    color: white;
}
.header{
    display: flex;
    align-items: baseline;
}
.red{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-left:5px ;
}
.blue{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(44, 130, 230);
    margin-left:5px ;
}
.yellow{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    margin-left:5px ;
}
.green{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 201, 8);
    margin:5px ;
}
.titleTime{
    color: lightgray;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
}
.cardTask, .taskDark{
    margin: 0;
    color: rgba(128, 128, 128, 0.616);
    font-size: 14px;
    font-weight: 500;
}
.taskDark{
    color: white;
}
.dateSelected{
    color: white;
}
.anc{
    height: 28px;
}

.mainHeader{
    padding: 15px;
    margin: 0;
    color: white;
    font-size: 42px;
}
